body {
  font-size: 20px;
  scroll-behavior: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  width: 98vw;
  grid-template-areas:
    "hd hd hd hd hd hd"
    "main main main main main main"
    "ft ft ft ft ft ft";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px auto 50px;
  position: relative;
}

/* This is styles for header */
.header {
  grid-area: hd;
  position: fixed;
  width: 100vw;
  height: 100px;
  top: 0;
  background-color: #fff;
}

.header > nav {
  display: inline-block;
  height: 100%;
  width: 98%;
}

.header #nav-ul {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

#nav-ul > li {
  padding: 0 15px;
  cursor: pointer;
  height: 100%;
  align-items: center;
  display: flex;
}

.navbar > ul > li {
  list-style-type: none;
  top: 0;
}

.nav-link {
  text-decoration: none;
}

a {
  text-decoration: none;
  font-weight: 800;
}

li > a.active {
  background-color: gray;
  border-radius: 5px;
  color: #fff;
}

li > a {
  color: black;
  height: 100%;
  align-items: center;
  display: flex;
}

/* This is styles for main */
.main {
  grid-area: main;
  background-color: lightslategrey;
  color: #fff;
}

.title-main {
  font-size: 100px;
  margin-bottom: 0;
}

.main > section {
  width: 60vw;
  float: right;
  text-align: right;
  margin: 0 5vw 0 0;
  height: 95vh;
  display: inline-table;
}

.main > section.active {
  background-color: rgb(138, 145, 151);
}

.title-section {
  border-bottom: 3px solid violet;
  font-size: 50px;
  margin-top: 100px;
}

.main #section2,
.main #section4 {
  float: left;
  text-align: left;
  margin-left: 5vw;
}

.btn-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
}

/* This is styles for footer */
.footer {
  background-color: lightslategrey;
  grid-area: ft;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  margin-top: 10px;
}

/* This is styles for responsive */

@media only screen and (max-width: 500px) {
  body {
    font-size: 16px;
  }

  .header #nav-ul {
    justify-content: center;
  }

  #nav-ul > li {
    padding: 0;
    margin: 0 5px;
  }

  .title-main {
    font-size: 40px;
  }

  .main {
    width: auto;
  }

  .title-section {
    margin-top: 0px;
  }

  .main > section {
    margin-top: 50px;
    width: 80vw;
    padding-top: 150px;
  }

  li:active > a {
    background-color: gray;
    border-radius: 5px;
    color: #fff;
  }
}

/* Tablet devices (768px and down 1278px) */
@media only screen and (min-width: 768px) and (max-width: 1278px) {
  body {
    font-size: 18px;
  }

  .title-main {
    font-size: 70px;
  }

  .container {
    grid-template-rows: 70px auto 50px;
  }

  .header {
    height: 70px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  li:hover > a {
    background-color: gray;
    border-radius: 5px;
    color: #fff;
  }
}
