body {
  font-size: 20px;
  scroll-behavior: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  width: 98vw;
  grid-template-areas:
    "hd hd hd hd hd hd"
    "main main main main main main"
    "ft ft ft ft ft ft";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px auto 50px;
  position: relative;
}

/* This is styles for header */
.header {
  grid-area: hd;
  position: fixed;
  width: 100vw;
  height: 100px;
  top: 0;
  background-color: #fff;
}

.header > nav {
  display: inline-block;
  height: 100%;
  width: 98%;
}

.header #nav-ul {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

#nav-ul > li {
  padding: 0 15px;
  cursor: pointer;
  height: 100%;
  align-items: center;
  display: flex;
}

.navbar > ul > li {
  list-style-type: none;
  top: 0;
}

.nav-link {
  text-decoration: none;
}

a {
  text-decoration: none;
  font-weight: 800;
}

li > a .active {
  background-color: gray;
  border-radius: 5px;
  color: #fff;
}

li > a {
  color: black;
  height: 100%;
  align-items: center;
  display: flex;
}

li:hover, li:hover > a {
  background-color: gray;
  border-radius: 5px;
  color: #fff;
}

/* This is styles for main */
.main {
  grid-area: main;
  background-color: lightslategrey;
  color: #fff;
}

.title-main {
  font-size: 100px;
  margin-bottom: 0;
}

.main > section {
  height: auto;
  width: 60vw;
  float: right;
  text-align: right;
  margin: 0 5vw 0 0;
  height: 100vh;
  display: inline-table;
}

.title-section {
  border-bottom: 3px solid violet;
  font-size: 50px;
  margin-top: 100px;
}

.main #section2, .main #section4 {
  float: left;
  text-align: left;
  margin-left: 5vw;

}

/* This is styles for footer */
.footer {
  background-color: lightslategrey;
  grid-area: ft;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  border-top: 2px solid violet;
}
